body {
    font-family: "Whitney SSm A", "Whitney SSm B", 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;   /*400 is the same as normal font weight*/
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


a {
   text-decoration: none; 
}

/*-------------------------HappyFridays Home Page----------------------------*/

#home-body {
    background-image: url('../img/img/drake-bg@2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #1C3054; 
}

.home-logo {
    display: block;
    margin: ;
    height: 40px;
    width: 216px;
    margin-top: 55px;
    margin-left: 80px;
    margin-bottom: 126px;
}

.content-div {
    margin-left: 80px;
    width: 650px;
}

.home-h1 {
    font-size: 2.25rem; /* I want 36px / default browser: 16px = gives me 2.25rem */
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: 0.00em; 
    height: 86px;
    margin-top: 0;
    margin-bottom: 27px;
}

.home-p {
    opacity: 0.85;
    font-size: 1.06rem; /* I want 17px / default browser: 16px = gives me 1.06rem */
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 48px;
    width: 529px;
}

.spotify-btn a {
    background: #2EBD59;
    border-radius: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-size: .75rem; 
    font-weight: 600;  /*600 is medium font-weight*/
    letter-spacing: .06em;
    display: block;
    width: 240px;
    height: 42px;
    padding-top: 7px;
}

.spotify-btn a::before {
    content: url(../img/icons/spotify.svg);
    margin-right: 11px;
    position: relative;
    top: 5px;
}

.spotify-btn a:hover {
    background: #27A34C;
    transition: all 160ms ease-in;
}

/*-------------------------HappyFridays Loading Page--------------------------*/


#loading-body {
    background-image: url('../img/img/bob-dylan-bg@2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #C0E8F7;
}

.happy-fridays-icon-loading {
    display: block;
    margin: 33px auto 125px;
    height: 40px;
    width: 40px;

}

.entire-loading-message {
    flex: 1;
}

.building-list-h1 {
    color: #282E36;
    height: 43px;
    font-size: 2.25rem;  /* I want 36px / default browser: 16px = gives me 2.25rem */
    font-weight: normal;
    text-align: center;
    margin: 0 auto 9px;
}
    
.time-to-load {
    height: 17px;
    width: 285px;
    color: #636E7C;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: .875rem; /* I want 14px / default browser: 16px = gives me .875rem */
    font-weight: 600;
    margin: 0 auto 43px;
}

/*----------Animated Loader------------*/


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes pulse {
  50% {
    background: white;
  }
}
@keyframes pulse {
  50% {
    background: white;
  }
}

.loading-pulse {
  position: relative;
  width: 6px;
  height: 24px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.loading-pulse:before, .loading-pulse:after {
  content: '';
  position: absolute;
  display: block;
  height: 16px;
  width: 6px;
  background: rgba(255, 255, 255, 0.2);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
}

.loading-pulse:before {
  left: -12px;
}

.loading-pulse:after {
  left: 12px;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

/*----------End of Animated Loader------------*/


/*-------------------------HappyFridays List Page----------------------------*/
#list-body {
    background-image: url('../img/img/beyonce-bg@2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.logo {
    background-image: url('../img/logo/happy-fridays-icon.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 40px;
    width: 40px;
}

.happy-fridays-icon {
    margin: 33px auto 0;
    height: 40px;
    width: 40px;
}

.new-for-you-h1 {
    color: #282E36;
    text-decoration: none;
    font-size: 2.25rem; /* I want 36px / default browser: 16px = gives me 2.25rem */
    text-align: center;
    font-weight: normal;
    margin-bottom: 0;
    letter-spacing: -0.03em;
}

.new-releases-h2 {
    color: #636E7C;
    text-decoration: none;
    font-size: .875rem; /* I want 14px / default browser: 16px = gives me .875rem */
    text-align: center;
    font-weight: normal;
    margin-top: 6px;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}   

.album-cards-div {
    margin: 19px auto 100px;
    flex: 1;
}

.album-card {
    height: 100px;
    width: 600px;
    margin: 16px auto;
    border-radius: 2px;
    background-color: #FFFFFF;
    display: block;
}

.album-card:hover {
    box-shadow: 0px 4px 14px 3px rgba(40,46,54,0.20);
    transition: all 200ms ease-in;
}

.album-art-div {
    height: 100px;
    width: 100px;
    margin-right: 0;
    float: left;
}

.album-art-img{
    height: 100px;
    width: 100px;
    border-radius: 2px 0 0 2px;
}

.album-info{
    background-color: #FFFFFF;
    border-radius: 2px;
    height: 100px;
    width: 328px;
    float: left;
}

/*This allows me to truncate the album 
and artist names when they are too long */
.truncate {
  width: 285px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist-name {
    font-size: 1.5rem;  /* I want font-size 24px / default browser 16px = gives me 1.5rem */
    font-weight: normal;
    margin: 20px 0 0 28px;
    display: inline-block;  
    line-height: 30px;
}

.artist-name a {
    color: #282E36;
}

.artist-name a:hover {
    color: #2B81F9;
    transition: all 125ms ease-in;
}

.album-name {
    color: #43484F;
    text-decoration: none;
    font-size: 1rem;  /* I want font-size 16px / default browser 16px = 1rem */
    font-weight: normal;
    margin-left: 28px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4;
}

.album-name a {
    color: #43484F;
}

.album-name a:hover {
    color: #2B81F9;
    transition: all 125ms ease-in;
}

.group-of-buttons {
    height: 100px;
    width: 168px;
    float: left;
}

.play-btn {
    background-image: url('../img/icons/play.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 44px; /* The iOS standard is 44 x 44 for touch targets */
    width: 44px;  
    float: left;
    margin-top: 29px;
}

.play-btn:hover {
    background-image: url('../img/icons/play-hover.svg');
    cursor: pointer;
}


.pause-btn {
    background-image: url('../img/icons/pause.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 44px; /* The iOS standard is 44 x 44 for touch targets */
    width: 44px;  
    float: left;
    margin-top: 29px;
}

.pause-btn:hover {
    background-image: url('../img/icons/pause-hover.svg');
    cursor: pointer;
}


.plus-btn {
    background-image: url('../img/icons/plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 44px;  /* The iOS standard is 44 x 44 for touch targets */
    width: 44px;   
    float: left;
    margin-top: 29px;
    margin-left: 2px;
}


.plus-btn:hover {
    background-image: url('../img/icons/plus-hover.svg');
    cursor: pointer;
}


#add-to-playlist {
    text-transform: uppercase;
    font-size: 0.875rem;   /*I want font-size 14px / default browser 16px = 0.875rem */  
    color: #43484F;
    letter-spacing: 0.03em;
    background: #E9F6FD;
    padding-top: 6px;
    padding-bottom: 6px;
}


/* Makes the playlist dropdown scrollable */ 
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}


/*--------Album Added to Playlist Message---------*/


#album-added-box {

    height: 40px;
    width: 540px;
    background-color: #4A8BF8;
    border-radius: 4px;
    position: fixed;
    left: 50%;
    margin: 20px 0 0 -270px;    /*270 is half of 540px width*/
    box-shadow: 0px 2px 8px 0px rgba(40,46,54,0.12);
    z-index: 1000;
}

#album-added-message {
    color: #FFFFFF;
    font-size: .938rem;    /*I want font-size 15px / default browser 16px = 0.938rem */ 
    text-align: center;
    margin: 10px auto 0;
}


#add-to-playlist {
    text-transform: uppercase;
    font-size: 0.875rem;   /*I want font-size 14px / default browser 16px = 0.875rem */  
    color: #43484F;
    letter-spacing: 0.03em;
    background: #E9F6FD;
    padding-top: 6px;
    padding-bottom: 6px;
}

.x-btn {
    background-image: url('../img/icons/x.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 44px;   /*The iOS standard is 44 x 44 for touch targets */
    width: 44px;
    float: left;
    margin-top: 29px;
    margin-left: 2px;
}

.x-btn:hover {
    background-image: url('../img/icons/x-hover.svg');
    cursor: pointer;
}

footer {
    background-color: #FFFFFF;
    height: 46px;
}

.footer-text {
    color: #636E7C;
    text-transform: uppercase;
    font-size: 0.875rem;   /*I want font-size 14px / default browser 16px = 0.875rem */   
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.04em;
    margin: 15px auto 13px;
}

.footer-text a {
    color: #4A8BF8;
}























