{% extends 'base.html' %}
    {% block content %} 
    <body id='loading-body'>
        <img class='happy-fridays-icon-loading' src='/static/img/logo/happy-fridays-icon.svg' alt='HappyFridays Icon'>
        <div class='entire-loading-message'>
            <h1 class='building-list-h1'>Building your list of new releases...</h1>
            <h4 class='time-to-load'>This may take up to 30 seconds</h4>
            <div class='loading-pulse'></div>
        </div>

        <footer>
            <p class='footer-text'>BUILT WITH ❤ BY <a href='http://jessicaraepetersen.com/' target='_blank;'>Jessica Rae Petersen</a>. <span class='hide-mobile'>Engineer for <a href='mailto:jessicaraepetersen@gmail.com'>hire</a>.</span></p>
        </footer>


        <script src='https://code.jquery.com/jquery.js'></script>
        <script>
            // Once the user's list is built, change the route to /list - list.html
            $(document).ready(function() {
                window.location.replace('/list');
            });
        </script>
    </body>
    {% endblock %}
