{% extends 'base.html' %}
    {% block content %}
    <body id='home-body'>
        <img class='home-logo' src="/static/img/logo/happy-fridays-logo.svg" alt='HappyFridays Logo'>
        <div class='content-div'>
            <h1 class='home-h1'>Every Friday, discover new releases from artists you follow on Spotify.</h1>
             <p class='home-p'>Instead of relying solely on notifications or combing through the New Release page every Friday, connect your Spotify account and get a list of all the new releases from the artists you follow. Then, add the albums to a playlist for later or listen right away.</p>
             <div class='spotify-btn'><a href={{ url }}>Sign In With Spotify</a></div>
        </div>
    {% endblock %}


