<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>HappyFridays</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Code for favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <link rel="apple-touch-icon" sizes="57x57" href="./static/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="./static/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="./static/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="./static/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="./static/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="./static/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="./static/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="./static/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="./static/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="./static/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./static/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="./static/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./static/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="./static/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- End of code for favicon -->

        <link rel="stylesheet" href="./static/css/normalize.css">
        <link rel='stylesheet' type='text/css' href='https://cloud.typography.com/6541534/6472552/css/fonts.css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>
        <link rel="stylesheet" href="./static/css/main.css">
    </head>
    <body id='home-body'>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <img class='home-logo' src="/static/img/logo/happy-fridays-logo.svg" alt='HappyFridays Logo'>
        <div class='content-div'>
            <h1 class='home-h1'>Every Friday, discover new releases from artists you follow on Spotify.</h1>
             <p class='home-p'>Instead of relying solely on notifications or combing through the New Release page every Friday, connect your Spotify account and get a list of all the new releases from the artists you follow. Then, add the albums to a playlist for later or listen right away.</p>
             <div class='spotify-btn'><a href={{ url }}>Sign In With Spotify</a></div>
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-83601078-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
