<!doctype html>
<html class='no-js' lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='x-ua-compatible' content='ie=edge'>
        <title>HappyFridays</title>
        <meta name='description' content=''>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <!-- Code for favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <link rel="apple-touch-icon" sizes="57x57" href="./static/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="./static/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="./static/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="./static/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="./static/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="./static/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="./static/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="./static/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="./static/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="./static/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./static/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="./static/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./static/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="./static/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- End of code for favicon -->

        <link rel='stylesheet' href='static/css/normalize.css'>
        <link rel='stylesheet' type='text/css' href='https://cloud.typography.com/6541534/6472552/css/fonts.css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>
        <link href='static/css/bootstrap.css' rel='stylesheet'>
        <link rel='stylesheet' href='static/css/main.css'>
    </head>
    <body id='list-body'>
        <!--[if lt IE 8]>
            <p class='browserupgrade'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class='' id='album-added-box' hidden><p id='album-added-message'></p></div>
        <div class='happy-fridays-icon'>
            <a href="/" rel="home" itemprop='url'>
                <div class='logo'></div>  
            </a>
        </div>
        <h1 class='new-for-you-h1'>New & For You</h1>
        <div class='album-cards-padding'>
            <div class='release-and-sort-h2'>
                <div class='new-releases'>New Releases <span class='from-the-artists-hide'>From The Artists You Follow</span></div>
                <div class='sort-by'><span>Sort By: <span>
                    <div class='dropdown dropdown-style'>
                        <div class='sort-dropdown dropdown-toggle' id='dropdownMenu1' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'><span class='sort-color'>Artist Name</span><div class='caret'></div></div>
                        <ul class='dropdown-menu dropdown-style-menu' aria-labelledby='dropdownMenu1'>                
                            <li><a id='sort-by-artist-name' class='sort-options' href='#'> Artist Name</a></li>
                            <li><a id='sort-by-album-name' class='sort-options' href='#'> Album Name</a></li>
                            <li><a id='sort-by-release-date' class='sort-options' href='#'> Release Date</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='album-cards-div' id='artist-name-sort'>
            {% for album in albums %}
                <div class='album-card card{{ album.album_id }}'>
                    <div class='album-art-div'>
                        <img class='album-art-img' src={{ album.album_art }} alt='Image of '{{ album.album_name }} ' Art'>
                    </div>
                    <div class='album-info'>
                        <h2 class='artist-name truncate'><a href={{ album.artists.link_to_artist }} target='_blank;'>{{ album.artists.artist_name }}</a></h2>
                        <h3 class='album-name truncate'><a href={{ album.link_to_album }} target='_blank;'>{{ album.album_name }}</a></h3>
                    </div>
                    <div class='group-of-buttons'>
                        <div class='dropdown'>
                            <div class='play-btn dropdown-toggle' id='dropdownMenu2' data-album-id='{{ album.album_id }}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'></div>
                            <ul class='dropdown-menu' aria-labelledby='dropdownMenu2'>
                                <iframe src='https://embed.spotify.com/?uri=spotify:album:{{ album.link_to_album[-22:] }}&theme=white' width='300' height='380' frameborder='0' allowtransparency='true'></iframe>
                            </ul>
                        </div>
                        <div class='dropdown playlist-dropdown'>
                            <div class='plus-btn dropdown-toggle' id='dropdownMenu3' data-album-id='{{ album.album_id }}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'></div>
                            <ul class='dropdown-menu scrollable-menu' aria-labelledby='dropdownMenu3'>
                                <li><a id='add-to-playlist' href='#'>Add To A Playlist</a></li>
                            {% for playlist in playlists %}                          
                                <li><a class='playlist-choice' data-album-id='{{ album.album_id }}' data-playlist-id='{{ playlist.playlist_id }}' href='#'>{{ playlist.playlist_name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class='x-btn' data-album-id= '{{ album.album_id }}' alt='Remove Album Icon'></div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class='album-cards-div hidden' id='album-name-sort'>
            {% for album in albums|sort(attribute='album_name') %}
                <div class='album-card card{{ album.album_id }}'>
                    <div class='album-art-div'>
                        <img class='album-art-img' src={{ album.album_art }} alt='Image of '{{ album.album_name }} ' Art'>
                    </div>
                    <div class='album-info'>
                        <h2 class='artist-name truncate'><a href={{ album.artists.link_to_artist }} target='_blank;'>{{ album.artists.artist_name }}</a></h2>
                        <h3 class='album-name truncate'><a href={{ album.link_to_album }} target='_blank;'>{{ album.album_name }}</a></h3>
                    </div>
                    <div class='group-of-buttons'>
                        <div class='dropdown'>
                            <div class='play-btn dropdown-toggle' id='dropdownMenu2' data-album-id='{{ album.album_id }}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'></div>
                            <ul class='dropdown-menu' aria-labelledby='dropdownMenu2'>
                                <iframe src='https://embed.spotify.com/?uri=spotify:album:{{ album.link_to_album[-22:] }}&theme=white' width='300' height='380' frameborder='0' allowtransparency='true'></iframe>
                            </ul>
                        </div>
                        <div class='dropdown playlist-dropdown'>
                            <div class='plus-btn dropdown-toggle' id='dropdownMenu3' data-album-id='{{ album.album_id }}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'></div>
                            <ul class='dropdown-menu scrollable-menu' aria-labelledby='dropdownMenu3'>
                                <li><a id='add-to-playlist' href='#'>Add To A Playlist</a></li>
                            {% for playlist in playlists %}                          
                                <li><a class='playlist-choice' data-album-id='{{ album.album_id }}' data-playlist-id='{{ playlist.playlist_id }}' href='#'>{{ playlist.playlist_name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class='x-btn' data-album-id= '{{ album.album_id }}' alt='Remove Album Icon'></div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class='album-cards-div hidden' id='release-date-sort'>
            {% for album in albums|sort(reverse=True, attribute='album_release_date') %}
                <div class='album-card card{{ album.album_id }}'>
                    <div class='album-art-div'>
                        <img class='album-art-img' src={{ album.album_art }} alt='Image of '{{ album.album_name }} ' Art'>
                    </div>
                    <div class='album-info'>
                        <h2 class='artist-name truncate'><a href={{ album.artists.link_to_artist }} target='_blank;'>{{ album.artists.artist_name }}</a></h2>
                        <h3 class='album-name truncate'><a href={{ album.link_to_album }} target='_blank;'>{{ album.album_name }}</a></h3>
                    </div>
                    <div class='group-of-buttons'>
                        <div class='dropdown'>
                            <div class='play-btn dropdown-toggle' id='dropdownMenu2' data-album-id='{{ album.album_id }}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'></div>
                            <ul class='dropdown-menu' aria-labelledby='dropdownMenu2'>
                                <iframe src='https://embed.spotify.com/?uri=spotify:album:{{ album.link_to_album[-22:] }}&theme=white' width='300' height='380' frameborder='0' allowtransparency='true'></iframe>
                            </ul>
                        </div>
                        <div class='dropdown playlist-dropdown'>
                            <div class='plus-btn dropdown-toggle' id='dropdownMenu3' data-album-id='{{ album.album_id }}' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'></div>
                            <ul class='dropdown-menu scrollable-menu' aria-labelledby='dropdownMenu3'>
                                <li><a id='add-to-playlist' href='#'>Add To A Playlist</a></li>
                            {% for playlist in playlists %}                          
                                <li><a class='playlist-choice' data-album-id='{{ album.album_id }}' data-playlist-id='{{ playlist.playlist_id }}' href='#'>{{ playlist.playlist_name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class='x-btn' data-album-id= '{{ album.album_id }}' alt='Remove Album Icon'></div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <footer>
            <p class='footer-text'>BUILT WITH ❤ BY <a href='http://jessicaraepetersen.com/' target='_blank;'>Jessica Rae Petersen</a>. <span class='hide-mobile'>Enginer for <a href='mailto:jessicaraepetersen@gmail.com'>hire</a>.</span></p>
        </footer>
        <script src='https://code.jquery.com/jquery.js'></script>
        <script src='static/js/bootstrap.min.js'></script>
        <script src='static/js/main.js'></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-83601078-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
